.mainHome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}


img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
button {
    cursor: pointer;
}